<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/saveBook}" th:object="${book}" method="post" enctype="multipart/form-data">
    书名<input type="text" th:field="*{bookname}" value=""><br/>
    书价<input type="text" th:field="*{bookprice}"><br/>
    书本描述<input type="text" th:field="*{bookinfo}"><br/>
    <p>选择文件: <input type="file" name="fileName"/></p>
    <p><input type="submit" value="提交"/></p>
</form>

</body>
</html>