<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label><a href="/saveBook">添加</a></label>
<label><a href="">删除</a></label>
<label><a href="/getBookList">查找</a></label>
<label><a href="">修改</a></label>

<table border="1">
    <tr> <td>书名</td>
        <td>书价</td>
        <td>信息</td>
    <td>删除</td>
    <td>更新</td></tr>
   <tr th:each="book,bookStat:${books}">
       <td th:text="${book.bookname}"></td>
       <td th:text="${book.bookprice}"></td>
       <td th:text="${book.bookinfo}"></td>
       <td><a th:href="@{'/deleteBookById/'+${book.id}}">delete</a></td>
       <td></td>
   </tr>
</table>
</body>
</html>